<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erdemsiyam.memorizeyourwords">

    <!-- Permission to Excel import export. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permission to advertising. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to start Word Notification on device reboot. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Permission to billing for donate. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Permission to vibration for Android 4.2 and low versions. -->
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <meta-data android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.ExamActivity"
            android:parentActivityName=".activity.CategoryActivity" />
        <activity android:name=".activity.WordActivity"
            android:parentActivityName=".activity.CategoryActivity" />
        <activity android:name=".activity.CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceiver.StopWordNotificationReceiver"
            android:enabled="true"
            android:process=":remote">
        </receiver>
        <receiver android:name=".broadcastreceiver.SendCategoryNotificationReceiver"
            android:enabled="true">
        </receiver>
        <receiver android:name=".broadcastreceiver.SendWordNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>